:root {
    --primary-color: #1B1B1B;
    --secondary-color: #FFFFFF;
    --third-color: #202020;
    --accent-color: #F65282;
    --default-font-family: 'Roboto', sans-serif;
    --button-font-family: 'Montserrat', sans-serif;
}

body {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--default-font-family);
    transition: all 200ms ease-in-out;
}

a:hover {
    text-decoration: none;
}

.container-fluid {
    max-width: 1152px;
    padding: 20px 0;
}

.custom-bg {
    background: var(--third-color);
}

.custom-bg a {
    color: var(--secondary-color);
}

.brand {
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

header {
    background-attachment: fixed;
    background-image: url(../images/hero_bg.JPG);
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 100vh;
}

.hero {
    margin: auto;
    max-width: 600px;
    text-align: center;
}

.hero p {
    margin: auto;
    max-width: 460px;
}

h1,
h2,
h3 {
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 24px;
}

h3 {
    color: var(--accent-color);
    font-size: 20px;
}

p {
    font-size: 18px;
    font-weight: 400;
}

.btn-light {
    border-radius: 50px;
    color: #272142;
    font-family: var(--button-font-family);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 17.07px;
    padding: 18px 30px 18px 30px;
    text-transform: uppercase;
    width: 200px;
}

#gallery,
#contact {
    margin: 100px 0;
    text-align: center;
}

.row {
    justify-content: space-between;
    margin: 0 auto;
}

.rectangle img {
    width: 386px;
    height: 280px;
    object-fit: cover;
}

.square img {
    width: 308px;
    height: 280px;
    object-fit: cover;
}

.fill img {
    width: 456px;
    height: 280px;
    object-fit: cover;
}

.equal img {
    width: 360px;
    height: 280px;
    object-fit: cover;
}

#about {
    margin: 100px auto;
}

.about-photo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.cameras {
    background: var(--third-color);
    margin: left;
    max-width: 400px;
}

.cameras img {
    width: 10vw;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

@media only screen and (max-width: 1152px) {

    .custom-bg {
        padding: 25px;
    }

    .col img {
        height: 100%;
        width: 90vw;
    }

    #about {
        width: 90vw;
    }
}

@media only screen and (max-width: 576px) {
    header {
        justify-content: center;
        overflow: hidden;
    }

    h1 {
        font-size: 36px;
    }

    .about-text {
        text-align: center;
        width: 100%;
    }

    .cameras {
        margin: auto;
    }

}